<div class="wrap">
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <h1>Todo list</h1>

    <div
      [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
      class="form-control">
      <label for="title">Title</label>
      <input type="text" id="title" formControlName="title">
      <div
        *ngIf="form.get('title').touched && form.get('title').invalid"
        class="validation">
        <small *ngIf="form.get('title').errors.required">Title required</small>
      </div>
    </div>

    <div class="form-control">
      <label>Description</label>
      <textarea formControlName="text" class="desc_input"></textarea>
    </div>

    <button
      type="submit"
      class="add_btn btn"
      [disabled]="form.invalid">
      Add
    </button>
  </form>


  <div
    *ngIf="tasks; else loading"
    class="tasks">
    <app-task *ngFor="let post of tasks"
              [task]="post"
              (deleteTask)="delete($event)">
    </app-task>
  </div>

  <ng-template #loading>
    <p>Loading Tasks...</p>
  </ng-template>

</div>
