/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, serif;
}


.btn {
  cursor: pointer;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
}
